@model ICollection<ASPDAY2.Models.Student>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-M3PWQaY2QFIhwuzE7VW3K1dyA0C1coQemlJD1qDzWIxmg4zFMEu50eU/HiPzGmG4" crossorigin="anonymous">
</head>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th>
                Address
            </th>
            <th>
                Dep_Id
            </th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
        <tr>
                <td>
                    @student.StFname @student.StLname
                </td>
                <td>
                    @student.StAge
                </td>
                <td>
                    @student.StAddress
                </td>
                <td>
                    @student.DeptId
                </td>
                <td>
                    <form action="/student/details/@student.StId" method="post">
                        <button>details</button>
                    </form>
                    <form asp-controller="student" asp-action="edit" asp-route-id="@student.StId" method="get">
                        <button>edit</button>
                    </form>
                    <form onclick="confirmDelete" asp-controller="student" asp-action="delete" asp-route-id="@student.StId" method="get">
                        <button>delete</button>
                    </form>
                </td>
        </tr>
        }
    </tbody>
    
</table>
<script>
    //CONFIRM
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgvVh5lB7Cji8gk54A1hohzTYfJr8Hd50Tvf6Ezri0fxYSl0pGr" crossorigin="anonymous"></script>